<!DOCTYPE html>
<html lang="en">
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Admin Page</title>
</head>
<body>
<div class="container">
    <a href="/admin" style="color:black;">
        <i class='fas fa-arrow-left mt-5' style='font-size:36px'></i>
    </a>
    <div class="row">
        <div class="col-sm mt-5">
            <h1 class="text-center">Support</h1>
        </div>
    </div>

    <table class="table mt-5 table-striped table-bordered table-danger table-hover">
        <thead class="thead-dark">
        <a href="#">
            <tr>
                <th scope="col">Bruger Mail</th>
                <th scope="col">Emne</th>
                <th scope="col">Dato</th>
<!--                <th scope="col">Bruger Aktiv</th>-->
                <th scope="col">Action</th>
            </tr>
        </a>
        </thead>
        <tbody>
        <tr th:each="message : ${listMessage}" class="mt-5" style="cursor:pointer">
            <th th:text="${message.messages_usermail}" scope="row"></th>
            <td th:text="${message.messages_title}"></td>
            <td th:text="${message.messages_date}"></td>
            <td>
                <a th:href="@{'/admin/support/chat/' + ${message.messages_usermail}}" class="btn btn-danger">Se Samtale</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>